.app {
  font-family: Arial, sans-serif;
  max-width: 600px;
  margin: 0 auto;
  padding: 20px;
}

h1 {
  text-align: center;
  margin-bottom: 20px;
}

.task-form {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-bottom: 20px;
}

.input-field {
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 5px;
  width: 100%;
  box-sizing: border-box;
}

textarea.input-field {
  resize: none;
  height: 80px;
}

.submit-btn {
  padding: 10px;
  font-size: 16px;
  color: white;
  background-color: #007bff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.submit-btn:hover {
  background-color: #0056b3;
}

.tasks-section {
  margin-top: 20px;

  justify-content: space-evenly;
}

.current-tasks,
.archived-tasks {
  margin-bottom: 20px;
}

.cont {
  overflow-y: scroll;
  max-height: 40vh;
}
h2 {
  font-size: 18px;
  border-bottom: 2px solid #007bff;
  padding-bottom: 5px;
}

ul {
  list-style: none;
  padding: 0;
}

li {
  background-color: #f9f9f9;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 5px;
  margin-top: 10px;
}
